*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01497c;
    .card{
        border-radius: .8em;
        text-align: center;
        padding: .5em 1em;
        background-color: cornflowerblue;
        &__title{
            h1{
                margin: 0;
            }
        }
        &__content{
            form{
                display: flex;
                flex-direction: column;
                gap: .5em;
                font-weight: 400;
                label{
                    text-align: left;
                }
                input{
                    width: fit-content;
                    padding: .5em 1em;
                    font-size: .9em;
                    border: 0;
                    border-radius: .8em;
                    font-weight: 200;
                }
                select{
                    padding: .5em 1em;
                    font-size: .9em;
                    border: 0;
                    border-radius: .8em;
                    background-color: #ffffff;
                    font-weight: 200;
                }
                button{
                    padding: .5em 1.8em;
                    width: fit-content;
                    border: 0;
                    border-radius: .8em;
                    background-color: #ffffff;
                    margin: .5em 0 .7em 0;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
        }
        &__footer{
            h2{
                text-transform: uppercase;
                margin: .8em 0 0 0;
            }
            p{
                margin: 0;
            }

        }
    }
}



.shown{
    display: inline-block;
}

.hidden{
    display: none;
}